

/*
Header Top Area
======================================================*/
.header-area.header-top .top-header-area {
  padding: 15px 0;
  background-color: #f4f9fd;
}

.header-area.header-top .top-header-area .header-content-right {
  float: left;
}

.header-area .top-header-area .header-content-right li {
  display: inline-block;
  padding-right: 20px;
  color: #262566;
}

.header-area .top-header-area .header-content-right li:last-child {
  padding-right: 0;
}

.header-area .top-header-area .header-content-right li a {
  color: #262566;
  display: inline-block;
}

.header-area.header-top .top-header-area .header-content-right li a:hover {
  color: #d43c2f;
}

.header-area.header-top .top-header-area .header-content-right li i {
  color: #d43c2f;
  margin-right: 5px;
  font-size: 15px;
  background-color: #f9e7e6;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-area.header-top .top-header-area .header-content-right li:hover i {
  background-color: #d43c2f;
  color: #ffffff;
}

.header-area.header-top .top-header-area .header-content-left {
  float: right;
}

.header-area.header-top .top-header-area .header-content-left li {
  display: inline-block;
}

.header-area.header-top .top-header-area .header-content-left li a i {
  color: #d43c2f;
  margin-right: 5px;
  font-size: 15px;
  background-color: #f9e7e6;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-area.header-top .top-header-area .header-content-left li a:hover i {
  background-color: #d43c2f;
  color: #ffffff;
}

/*
Nav Area Style
======================================================*/

.main-menu .navbar-collapse{
  padding:0px;
  display:block !important;
}

.main-menu .navigation{
  margin:0px;
  float: right;
}

.main-menu .navigation > li{
  position:inherit;
  float:left;
  z-index:2;
  padding:26px 0px 30px 0px;
  margin: 0px 7px;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-menu .navigation > li:last-child{
  margin-right:0px !important;
}

.main-menu .navigation > li:first-child{
  margin-left: 0px !important;
}

.main-menu .navigation > li > a{
  position:relative;
  display:block;
  text-align:center;
  font-size:16px;
  font-weight:700;
  opacity:1;
  font-family: 'Arimo', sans-serif;
  color:#222;
  padding-right: 15px;
  z-index:1;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

.nav-area.style-one .main-menu .navigation > li{
  margin-right: 22px;
}

.nav-area.style-one .main-menu .navigation > li > a{
  padding-right: 0px;
}

.main-menu .navigation > li.active > a {
  color: #d43c2f;
}

.nav-area.style-one .main-menu .navigation > li > a:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: 5px;
  transform: scale(0,0);
  transition: all 500ms ease;
}

.nav-area.style-one .main-menu .navigation > li.current > a:before,
.nav-area.style-one .main-menu .navigation > li:hover > a:before{
  transform: scale(1,1);
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #d43c2f;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu{
  position:absolute;
  left: inherit;
  top:100%;
  width:250px;
  z-index:100;
  display:none;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -moz-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

.main-menu .navigation > li > ul.from-right{
  left:auto;
  right:0px;  
}

.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
  padding: 11px 30px;
  border-bottom: 1px solid #eeeeee;
}

.main-menu .navigation > li > ul > li:last-child{
  border-bottom: none;
}

.main-menu .navigation > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > a{
  position:relative;
  display:block;
  padding:6px 0px;
  line-height:24px;
  font-weight:400;
  font-size:15px;
  text-transform:capitalize;
  color:#222;
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  position:absolute;
  right:20px;
  top:6px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:800;
  text-align:center;
  z-index:5;  
}

.main-menu .navigation > li > ul > li > ul{
  position:absolute;
  right:100%;
  top:-2px;
  width:230px;
  z-index:100;
  display:none;
  padding: 0px 0px;
  background-color: #fff;
  -moz-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li > ul > li > ul.from-right{
  left:auto;
  right:0px;  
}

.main-menu .navigation > li > ul > li > ul > li{
  position:relative;
  width:100%;
  padding: 11px 30px;
  border-bottom: 1px solid #eee;
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > ul > li > a{
  position:relative;
  display:block;
  font-size: 15px;
  padding:6px 0px;
  line-height:24px;
  font-weight:400;
  font-size:15px;
  text-transform:capitalize;
  color:#222;
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  position:absolute;
  right:20px;
  top:12px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:900;
  z-index:5;  
}

.main-menu .navigation > li.dropdown:hover > ul,
.main-menu .navigation > li.dropdown:hover > .megamenu{
  visibility:visible;
  opacity:1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease; 
}

.main-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:-32px;
  top:66px;
  width:34px;
  height:30px;
  text-align:center;
  font-size:18px;
  line-height:26px;
  color:#3b3b3b;
  cursor:pointer;
  display: none;
  z-index:5;
  transition: all 500ms ease;
}

.main-menu .navigation li.dropdown ul li.dropdown .dropdown-btn{
  display: none;
}

.mobile-nav .mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color: #3786ff;
  display: none;
}

.mobile-nav .mobile-nav-toggler .icon-bar{
  position: relative;
  height: 2px;
  width: 30px;
  display: block;
  margin-bottom: 5px;
  background-color: #3b3b3b;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.mobile-nav .mobile-nav-toggler .icon-bar:last-child{
  margin-bottom: 0px;
}

/** megamenu-style **/

.main-menu .navigation > li.dropdown > .megamenu{
  position: absolute;
  width: 100%;
  padding: 30px 50px;
  left: 0px;
}

.main-menu .navigation li.dropdown .megamenu li{
  position:relative;
  display: block;
  z-index:2;
  padding: 7px 0px;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-menu .navigation li.dropdown .megamenu li h4{
  font-weight: 500;
  padding: 3px 0px;
  color: #222;
}

.main-menu .navigation li.dropdown .megamenu li a{
  position:relative;
  display:inline-block;
  text-align:left;
  font-size:15px;
  line-height:30px;
  font-weight:400;
  opacity:1;
  color: #222;
  padding: 0px;
  z-index:1;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

/** mobile-menu **/

.nav-outer .mobile-nav-toggler{
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color:#3786ff;
  display: none;
}

.mobile-menu{
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right:30px;
  max-width:100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

.mobile-menu .navbar-collapse{
  display:block !important; 
}

.mobile-menu .nav-logo{
  position:relative;
  padding:30px 25px;
  text-align:left;  
}

.mobile-menu-visible{
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #202020;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box{
  opacity: 1;
  visibility: visible;
  -webkit-transition:all 0.7s ease;
  -moz-transition:all 0.7s ease;
  -ms-transition:all 0.7s ease;
  -o-transition:all 0.7s ease;
  transition:all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn{
  position: absolute;
  right: 25px;
  top: 10px;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  -webkit-transition:all 0.9s ease;
  -moz-transition:all 0.9s ease;
  -ms-transition:all 0.9s ease;
  -o-transition:all 0.9s ease;
  transition:all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn{
  -webkit-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}

.mobile-menu .close-btn:hover{
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.mobile-menu .navigation{
  position: relative;
  display: block;
  width: 100%;
  float: none;
}

.mobile-menu .navigation li{
  position: relative;
  display: block;
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > ul > li:first-child{
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > a{
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li ul li > a{
  font-size: 16px;
  margin-left: 20px;
  text-transform: capitalize;
}

.mobile-menu .navigation li > a:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:0;
  border-left:5px solid #fff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li.current > a:before{
  height:100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:6px;
  top:6px;
  width:32px;
  height:32px;
  text-align:center;
  font-size:16px;
  line-height:32px;
  color:#ffffff;
  background:rgba(255,255,255,0.10);
  cursor:pointer;
  border-radius:2px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
  z-index:5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open{
  background:#fff; 
  color: #3b3b3b;
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);  
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul,
.mobile-menu .navigation > li.dropdown > .megamenu{
  display: none;
}

.mobile-menu .social-links{
  position:relative;
  padding:30px 25px;
}

.mobile-menu .social-links li{
  position:relative;
  display:inline-block;
  margin:0px 10px 10px;
}

.mobile-menu .social-links li a{
  position:relative;
  line-height:32px;
  font-size:16px;
  color:#ffffff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

div#mCSB_1_container{
  top: 0px !important;
}

.mobile-menu .contact-info {
  position: relative;
  padding: 80px 30px 20px 30px;
}

.mobile-menu .contact-info h4 {
  position: relative;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.mobile-menu .contact-info ul li {
  position: relative;
  display: block;
  font-size: 15px;
  color: rgba(255,255,255,0.80);
  margin-bottom: 3px;
}

.mobile-menu .contact-info ul li a{
  color: rgba(255,255,255,0.80);
}

.mobile-menu .contact-info ul li:last-child{
  margin-bottom: 0px;
}

/** stricky-header **/
.nav-area .navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100% !important;
}

.nav-area .navbar-area.is-sticky .main-menu nav .navbar-nav .nav-item a {
  color: #ffffff;
}

.nav-area .navbar-area.is-sticky .main-menu nav .navbar-nav .nav-item a:hover {
  color: #d43c2f;
}

.nav-area .navbar-area.is-sticky .main-menu nav .navbar-nav .nav-item a.active {
  color: #d43c2f;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 991px){
  .main-menu {
    display: none !important;
  }
  .mobile-nav {
    display: flex;
    padding: 0 15px;
  }
  .mobile-nav .logo {
    width: 140px;
    margin: auto 0;
  }
  .mobile-nav .mobile-nav-toggler {
    display: block;
    /*margin-top: 42px;*/
    padding: 10px;
    margin: auto 0;
    margin-left: 20px;
  }
  .nav-logo img{
    width: 180px;
  }

  .header-area .mobile-nav .mobile-nav-toggler .icon-bar{
    background: #d43c2f;
  }
}

@media only screen and (max-width: 499px){

}


/*
Nav Area Six
======================================================*/
.nav-area .navbar-brand {
  position: relative;
  z-index: 1;
  padding: 13px 0;
}

.nav-area .navbar-brand::before {
  content: "";
  position: absolute;
  top: 0;
  left: -410px;
  width: 680px;
  height: 100%;
  background-color: #091d3e;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.nav-area .navbar-brand img{
  width: 185px;
}

.nav-area .navbar {
  padding: 0;
}

.iso-logo {
  float: right;
  position: relative;
  margin-left: 50px;
  padding-top: 5px;
  border-left: 1px solid #ccc;
  padding-left: 50px;
  text-align: center;
}

.iso-logo img {
  max-height: 54px;
}

.iso-logo span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #4b4b4b;
}

.mobile-menu .iso-logo{
  display: none;
}

@media only screen and (max-width: 991px){
  
  .iso-logo{
    padding: 5px 20px 0 20px;
    border-right: 1px solid #ccc;
    margin-left: auto;
  }
}

