.app-bar {
    background-color: #223dd7;
    padding: 10px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-item.active a {
    color: rgb(255, 111, 0);  
  }
  .drawer-icon {
    color: rgb(255, 255, 255);
  }
  