<nav class="app-bar">
    <ul class="nav-list">
      <li class="nav-item" [class.active]="activeMenuItem === 'home'"><a routerLink="/home">Home</a></li>
      <li class="nav-item" [class.active]="activeMenuItem === 'about'"><a routerLink="/about">About Us</a></li>
      <li class="nav-item" [class.active]="activeMenuItem === 'services'"><a routerLink="/services">Services</a></li>
      <li class="nav-item" [class.active]="activeMenuItem === 'portfolio'"><a routerLink="/portfolio">Portfolio</a></li>
      <li class="nav-item" [class.active]="activeMenuItem === 'contact'"><a routerLink="/contact">Contact</a></li>
      <li class="nav-item" [class.active]="activeMenuItem === 'hierarchy'"><a routerLink="/hierarchy">Hierarchy</a></li>
    </ul>
  </nav>
  