<!-- Start Breadcum Area -->
<div class="breadcrumb-area" style="background-image: url('assets/images/banner/title.jpg');background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-sm-10 breadcrumb-content">
                <span>Portfolio</span>
                <h2>Provide All Kind Of Tech Solutions</h2>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li>Portfolio</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcum Area -->

<!-- Our Portfolio Start -->
<section class="ptb-100">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-sm-6 col-xs-12 preview-box wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="preview-item image-with-text">                        
                    <div class="preview-image">
                      <img src="assets/images/portfolio/48584.png" alt="/" class="img-fluid">
                    </div>
                                                    
                    <div class="hover-content">
                      <div class="hover-inner-content">
                        <h5 class="hover-title"><a href="https://ncfnepal.com.np/" target="_blank">Portfolio <i class="bx bx-link-alt"></i></a></h5>
                      </div>
                    </div>
                </div><!-- End Preview box -->
            </div>
            
            <div class="col-lg-4 col-sm-6 col-xs-12 preview-box wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="preview-item image-with-text">                        
                    <div class="preview-image">
                      <img src="assets/images/portfolio/56342.png" alt="/" class="img-fluid">
                    </div>
                                                    
                    <div class="hover-content">
                      <div class="hover-inner-content">
                        <h5 class="hover-title"><a href="https://www.cosys.com.np/" target="_blank">Portfolio <i class="bx bx-link-alt"></i></a></h5>
                      </div>
                    </div>
                </div><!-- End Preview box -->
            </div>
            
            <div class="col-lg-4 col-sm-6 col-xs-12 preview-box wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="preview-item image-with-text">                        
                    <div class="preview-image">
                      <img src="assets/images/portfolio/38859.png" alt="/" class="img-fluid">
                    </div>
                                                    
                    <div class="hover-content">
                      <div class="hover-inner-content">
                        <h5 class="hover-title"><a href="https://dcul.coop.np/" target="_blank">Portfolio <i class="bx bx-link-alt"></i></a></h5>
                      </div>
                    </div>
                </div><!-- End Preview box -->
            </div>
            
            <div class="col-lg-4 col-sm-6 col-xs-12 preview-box wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="preview-item image-with-text">                        
                    <div class="preview-image">
                      <img src="assets/images/portfolio/29050.png" alt="/" class="img-fluid">
                    </div>
                                                    
                    <div class="hover-content">
                      <div class="hover-inner-content">
                        <h5 class="hover-title"><a href="http://jagannathmavibhumahi.com/" target="_blank">Portfolio <i class="bx bx-link-alt"></i></a></h5>
                      </div>
                    </div>
                </div><!-- End Preview box -->
            </div>
            
            <div class="col-lg-4 col-sm-6 col-xs-12 preview-box wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="preview-item image-with-text">                        
                    <div class="preview-image">
                      <img src="assets/images/portfolio/49483.png" alt="/" class="img-fluid">
                    </div>
                                                    
                    <div class="hover-content">
                      <div class="hover-inner-content">
                        <h5 class="hover-title"><a href="https://nawasrijanshil.com/" target="_blank">Portfolio <i class="bx bx-link-alt"></i></a></h5>
                      </div>
                    </div>
                </div><!-- End Preview box -->
            </div>
            
            <div class="col-lg-4 col-sm-6 col-xs-12 preview-box wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="preview-item image-with-text">                        
                    <div class="preview-image">
                      <img src="assets/images/portfolio/15259.png" alt="/" class="img-fluid">
                    </div>
                                                    
                    <div class="hover-content">
                      <div class="hover-inner-content">
                        <h5 class="hover-title"><a href="https://sunrisesaving.com.np/" target="_blank">Portfolio <i class="bx bx-link-alt"></i></a></h5>
                      </div>
                    </div>
                </div><!-- End Preview box -->
            </div>
            
            <div class="col-lg-4 col-sm-6 col-xs-12 preview-box wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="preview-item image-with-text">                        
                    <div class="preview-image">
                      <img src="assets/images/portfolio/67399.png" alt="/" class="img-fluid">
                    </div>
                                                    
                    <div class="hover-content">
                      <div class="hover-inner-content">
                        <h5 class="hover-title"><a href="https://kmcl.coop.np/" target="_blank">Portfolio <i class="bx bx-link-alt"></i></a></h5>
                      </div>
                    </div>
                </div><!-- End Preview box -->
            </div>
                    </div>
    </div>
</section>
<!-- Our Portfolio End -->
