<!-- Start Breadcum Area -->
<div class="breadcrumb-area" style="background-image: url('assets/images/banner/title.jpg');background-size:cover;">
  <div class="container">
      <div class="row">
          <div class="col-xl-7 col-lg-8 col-sm-10 breadcrumb-content">
              <span>Solutions</span>
              <h2>Provide All Kind Of Tech Solutions</h2>
              <ul>
                  <li><a href="/home">Home</a></li>
                  <li>Solutions</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- End Breadcum Area -->

<!-- Our Services Start -->
<section class="our-services-section ptb-100">
  <div class="container">
      <!-- <div class="section-title sec_title-two">
          <span>Smart services</span>
          <h2>Provide All Kind Of Tech Solutions</h2>
          <p>We help agencies to define their new business objectives and then create the road map</p>
      </div> -->
      <div class="row">
          
          <!-- single dervices -->
          <div class="col-lg-4 col-sm-6 col-xs-12 d-flex">
              <div class="single-service wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="service-icon">
                      <i class="flaticon-project-plan"></i>
                  </div>
                  <div class="service-inner">
                      <div class="service-content">
                          <h4>Design & Development</h4>
                          <p>Website Design and Development, Web Content Management, Joomla Solutions, Typo3 Solutions, Application Development and Dynamic Website.</p>
                          
                      </div>
                  </div>
              </div>
          </div>
          <!-- single dervices -->
          <div class="col-lg-4 col-sm-6 col-xs-12 d-flex">
              <div class="single-service wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="service-icon">
                      <i class="flaticon-gear"></i>
                  </div>
                  <div class="service-inner">
                      <div class="service-content">
                          <h4>E-commerce Web Design Solutions</h4>
                          <p>E-Commerce Web Development, Shopping Cart, Ecommerce Solutions, Shopping Cart Design Services, OS Commerce.</p>
                          
                      </div>
                  </div>
              </div>
          </div>
          <!-- single dervices -->
          <div class="col-lg-4 col-sm-6 col-xs-12 d-flex">
              <div class="single-service wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="service-icon">
                      <i class="flaticon-business"></i>
                  </div>
                  <div class="service-inner">
                      <div class="service-content">
                          <h4>Outsource web development</h4>
                          <p>Outsource web programming to Kathmandu, Nepal,ASP.NET, PHP, Open Source Development, C# programming to Kathmandu, Nepal.</p>
                          
                      </div>
                  </div>
              </div>
          </div>
          <!-- single dervices -->
          <div class="col-lg-4 col-sm-6 col-xs-12 d-flex">
              <div class="single-service wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="service-icon">
                      <i class="flaticon-content"></i>
                  </div>
                  <div class="service-inner">
                      <div class="service-content">
                          <h4>Data Entry Services</h4>
                          <p>Data Entry Services, Data Processing, Data Conversion, Offshore Print Publishing, Outsource Media, PDF's.</p>
                          
                      </div>
                  </div>
              </div>
          </div>
          <!-- single dervices -->
          <div class="col-lg-4 col-sm-6 col-xs-12 d-flex">
              <div class="single-service wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="service-icon">
                      <i class="flaticon-database"></i>
                  </div>
                  <div class="service-inner">
                      <div class="service-content">
                          <h4>Software Development</h4>
                          <p>Web Applications, Content Management, ERP Packages, CRM, Database Design, XML, PHP, ASP, .NET, VB, Oracle MS SQL, My SQL</p>
                          
                      </div>
                  </div>
              </div>
          </div>
          <!-- single dervices -->
          <div class="col-lg-4 col-sm-6 col-xs-12 d-flex">
              <div class="single-service wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="service-icon">
                      <i class="flaticon-information-desk"></i>
                  </div>
                  <div class="service-inner">
                      <div class="service-content">
                          <h4>Graphic Design</h4>
                          <p>Creative Graphic Design Services, Brochure Design,, Logo, Corporate Identity, Flyer, Postcard Design, Calling Cards, Book Cover Layouts.</p>
                          
                      </div>
                  </div>
              </div>
          </div>
          <!-- single dervices -->
          
      </div>
  </div>
</section>
<!-- Our Services End -->